<div>
  <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label for="login">Login</mat-label>
        <input matInput id="login" type="text"
              formControlName="login">
      </mat-form-field>
      <span *ngIf="loginForm.get('login')?.touched && loginForm.get('login')?.errors?.required">
          Email requis
      </span>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput id="password" type="password"
                formControlName="password">
      </mat-form-field>
    </p>
    <p>
      <button mat-button type="submit" [disabled]="!loginForm.valid"
              color="primary">
        Valider
      </button>
    </p>
  </form>
</div>
